{% extends "base.html" %}

{% block head %}
<script src="/static/mapper.js?ver={{version}}" type="text/javascript" charset="utf-8"></script>

<script async defer 
     src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}&callback=initMap">
</script>
<script async defer type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
   
<link rel="stylesheet" href="/static/css/mapper.css?ver={{version}}" type="text/css" charset="utf-8">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="map-container">
  <div id="map">
    
  </div>
  
</div>
{% endblock %}
