$headline-text: #4A4A4A;
$main-background: #E8E8E8;
$mobile-width: 600px;
$main-width: 900px;

/*Theme Colors*/
/* Based on */
/* https://color.adobe.com/Flat-UI-color-theme-2469224/ */
$dark-blue: #2C3E50;
$red: #E74C3C;
$white: #ECF0F1;
$blue: #2980B9;
$highlight-blue: #3498DB;
