$headline-text: #4A4A4A;
$main-background: #E8E8E8;

body {
  /*background: url(/static/images/grey-prism.svg) center;*/
  background: linear-gradient(to right, #D3E8CF, #9ABFD6);
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';

  a {
    color: #427371;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}


.header {
  color: $headline-text;
  text-align: center;
  padding: 1.85em 0;
  /*border-bottom: 1px solid #DCDCDC;*/
}

.header-title {
  font-size: 1.5em;
  margin-bottom: .2em;
}

.header-slogan {
  font-size: 1.2em;
}

.header-bullet {
  display: none;
}

.nav {
  text-align: center;
  color: $headline-text;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    width: 32%;
    display: inline-block;
    list-style: none;
  }

  li a {
    display: inline-block;
    width: 100%;
    padding: .5em 0;
    border-bottom: 4px solid #E8E8E8;
  }

  li a:hover{
    border-bottom: 4px solid #B6D3D2;
  }
}


.main-container {
  border-radius: .5em;
  background-color: #F1F1F1;
  margin: 8px;
}

.main {
  background-color: $main-background;
  border-top: 1px solid #DCDCDC;
}

.content {
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-container {
  background-color: #545454;
  padding: .8em 0;
  margin-top: .5em;
}

.footer-content {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  color: #F9F9F9;
}

.profile-pic {
  margin: 0 4%;
  border-radius: 50%;
  width: 30%;
}
