@import '_variables.scss';

body {
  /*background: url(/static/images/grey-prism.svg) center;*/
  background: $white;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';

  a {
    color: $blue;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}

$perm-header-height: 42px;
.page-centered {
  max-width: $main-width;
  margin: 0 auto;
}


.stick {

  @media (min-width: $mobile-width) {
    .header-perm {
      width: 100%;
      margin: 0 auto;
      background-color: $dark-blue;
      position: fixed;
      top: 0px;
    }

    .header-slogan {
      margin-top: $perm-header-height;   
    }
  }
}

.header {
  background-color: $dark-blue;
}

.top-spacer {
  height: 20px;
}

.header-perm {

}

.header-slogan {
  display: none;

  @media (min-width: $mobile-width) {
    display: block;
    font-size: 1.6em;
    height: 60px;
    font-size: 1.2em;
    color: $highlight-blue;
  }
}

.header-title {
  color: $blue;
  font-size: 1.5em;
  text-align: center;

  @media (min-width: $mobile-width) {
    display: inline-block;
    text-align: left;
    font-size: 2.2em;
  }
}

.nav {
  text-align: center;
  color: $highlight-blue;
  
  @media (min-width: $mobile-width) {
    display: inline-block;
    width: 350px;
    float: right;
    font-size: 1.2em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    width: 32%;
    display: inline-block;
    list-style: none;
  }

  li a {
    display: inline-block;
    width: 100%;
    padding: .5em 0;
  }

  li a:hover{
    background-color: $red;
    color: $white;
  }
}


.main-container {
  border-radius: .5em;
  margin: 8px;

  @media (min-width: $mobile-width) {
    max-width: $main-width;
    margin: 0 auto 20px;
  }
}

.main {

}

.content {
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-container {
  background-color: $dark-blue;
  padding: .8em 0;
  margin-top: .5em;

  @media (min-width: $mobile-width) {
    height: 100px; 
  }

  a {
    color: $blue
  }
  a:hover {
    color: $highlight-blue; 
  }
}


.footer {
  @media (min-width: $mobile-width) {
    width: $main-width;
    margin: 0 auto;
    height: 100px;
  }
}

.profile-pic {
  display: inline-block;
  margin: 0 4%;
  height: 100px;
  width: 100px;
  float: left;

  img {
    border-radius: 50%;
    height: 100px;
    border: 3px solid $blue;
  }
}

.footer-content {
  vertical-align: top;
  color: $white;
  width: auto;
  overflow: hidden;
}
