@import '_variables.scss';

body {
  /*background: url(/static/images/grey-prism.svg) center;*/
  background: linear-gradient(to right, #D3E8CF, #9ABFD6);
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';

  a {
    color: #427371;
  }

  a:hover, a:visited, a:link, a:active {
    text-decoration: none;
  }
}


.header {
  color: $headline-text;
  display: table;
  margin: 0 auto;
  padding: 1.85em 0;
}

.header-title {
  font-size: 1.5em;
  margin-bottom: .2em;

  @media (min-width: $mobile-width) {
    font-size: 2.2em;
  }
}

.header-slogan {
  font-size: 1.2em;

  @media (min-width: $mobile-width) {
    font-size: 1.6em;
    color: lighten($headline-text, 10%);
  }
}

.nav {
  text-align: center;
  color: $headline-text;
  
  @media (min-width: $mobile-width) {
    font-size: 1.2em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    width: 32%;
    display: inline-block;
    list-style: none;
  }

  li a {
    display: inline-block;
    width: 100%;
    padding: .5em 0;
    border-bottom: 4px solid #E8E8E8;
  }

  li a:hover{
    border-bottom: 4px solid #B6D3D2;
  }
}


.main-container {
  border-radius: .5em;
  background-color: #F1F1F1;
  margin: 8px;

  @media (min-width: $mobile-width) {
    margin: 0 $desktop-gutter 20px;
  }
}

.main {
  background-color: $main-background;
  border-top: 1px solid #DCDCDC;
}

.content {
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-container {
  background-color: #545454;
  padding: .8em 0;
  margin-top: .5em;

  @media (min-width: $mobile-width) {
    height: 150px; 
  }
}

.footer-content {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  color: #F9F9F9;
}

.footer {
  @media (min-width: $mobile-width) {
    margin: 0 $desktop-gutter;
  }
}

.profile-pic {
  margin: 0 4%;
  border-radius: 50%;
  width: 30%;

  @media (min-width: $mobile-width) {
    width: 150px;
  }
}
