.post {
  margin: 5px;
  background-color: #EFEFEF;
  padding: 0 10px 10px 10px;
}

.post-image img{
  width: 100% 
}

.post-title {
  font-size: 2.2em;
}

.post-title a:hover {
  text-decoration: none;
}

.post-lead {
  display: inline-block;
  font-size: 1.5em;
  color: #4A4A4A;
  margin-bottom: 10px;
}

.post-content {
  font-size: 1.2em;
  color: #4A4A4A;
}
