.body a:hover, .body a:visited, .body a:link, .body a:active {
  text-decoration: none;
}

.body a {
  color: #427371;
}

.footer-container, .header-container {
  /*background: linear-gradient(to right, #D3E8CF, #9ABFD6);*/
  background: url(/static/images/grey-prism.svg) center;
  color: #4A4A4A;
}

.footer-container {
  height: 120px;
}

.header {
  text-align: center;
  margin-top: 35px;
}

.header-container {
  height: 125px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';
  border-bottom: 1px solid #DCDCDC;
}

.header-title {
  font-size: 2.5em;
}

.header-bullet {
  font-size: 2em;
  padding: 0 1em; 
}

.header-slogan {
  font-size: 1.5em;
}


.nav {
  text-align: center;
  color: #4A4A4A;
}

.nav ul {
  display: inline-block;
  margin: 0;
}

.nav li {
  list-style: none;
  display: inline-block;
}

.nav li a {
  display: inline-block;
  padding: 10px 25px;
  border-bottom: 4px solid #E8E8E8;
}

.nav li a:hover{
  border-bottom: 4px solid #B6D3D2;
}

.main-container {
  background-color: #ECEBEB;
  background-color: #F1F1F1;
}

.main {
  background-color: #E8E8E8;
  border-top: 1px solid #DCDCDC;
  margin-bottom: 20px;
}

.content {
  min-height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
