.body a:hover, .body a:visited, .body a:link, .body a:active {
  text-decoration: none;
}

.body a {
  color: #427371;
}

.header-container {
  background: linear-gradient(to right, #D3E8CF, #9ABFD6);
  height: 125px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica';
  border-bottom: 1px solid #DCDCDC;
  color: #4A4A4A;
}

.header-title {
  font-size: 2.5em;
  display: inline-block;
}

.header-slogan {
  font-size: 1.5em;
}

.header {
  text-align: center;
  margin-top: 22px;
}

.nav {
  text-align: center;
  color: #4A4A4A;
}

.nav ul {
  display: inline-block;
  margin: 0;
}

.nav li {
  list-style: none;
  display: inline-block;
}

.nav li a {
  display: inline-block;
  padding: 10px 25px;
  border-bottom: 4px solid #E8E8E8;
}

.nav li a:hover{
  border-bottom: 4px solid #B6D3D2;
}

.main-container {
  background-color: #ECEBEB;
}

.main {
  background-color: #E8E8E8;
  border-top: 1px solid #DCDCDC;
  margin-bottom: 20px;
}

.content {
  min-height: 100%;
}
