$highlight-stroke-width: 3;
$stroke-width: 2;
$highlight-bubble-radius: 5;
$bubble-radius: 3;

$gray: #D3D3D3;
$black: #000;

$warriors: #FDB927;
$bulls: #CE1141;
$raptors: #CE1141;
$cavaliers: #860038;
$wizards: #002566;
$heat: #98002E;
$bucks: #00471B;
$hawks: #E13A3E;
$thunder: #007DC6;
$kings: #724C9F;
$rockets: #CE1141;
$clippers: #006BB6;
$lakers: #552582;
$blazers: #B6BFBF;
$mavericks: #007DC5;
$spurs: #000000;
$grizzlies: #002566;
$nuggets: #FFB20F;
$pacers: #00275D;
$suns: #E56020;
$pelicans: #001641;
$magic: #007DC5;
$nets: #000000;
$celtics: #008348;
$jazz: #002B5C;
$timberwolves: #00A94F;
$knicks: #F58426;
$philly: #ED174C;
$pistons: #ED174C;
$hornets: #1D1160;

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 400px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;

}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;

}

.axis text {
  font: 10px sans-serif;
}

text.team {
  cursor: default;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

// this is the thick invisible line that overlays
// all the colored lines which handles the mouse events
.line-handle {
  stroke-width: 6;
  fill: none;
  stroke: red;
  opacity: 0;
}

@mixin line {
  stroke-width: $stroke-width;
  fill: none;
}

@mixin transition {
  transition: all .1s ease-in-out;
}

path.warriors {
  stroke: $warriors;
  @include line();
  @include transition();
}
circle.warriors {
  fill: $warriors !important;
}

path.bulls {
  stroke: $bulls;
  @include line();
  @include transition();
}
circle.bulls {
  fill: $bulls !important;
}

path.raptors {
  stroke: $raptors;
  @include line();
  @include transition();
}
circle.raptors {
  fill: $raptors !important;
}

path.cavaliers {
  stroke: $cavaliers;
  @include line();
  @include transition();
}
circle.cavaliers {
  fill: $cavaliers !important;
}

path.wizards {
  stroke: $wizards;
  @include line();
  @include transition();
}
circle.wizards {
  fill: $wizards !important;
}

path.heat {
  stroke: $heat;
  @include line();
  @include transition();
}
circle.heat {
  fill: $heat !important;
}

path.bucks {
  stroke: $bucks;
  @include line();
  @include transition();
}
circle.bucks {
  fill: $bucks !important;
}

path.hawks {
  stroke: $hawks;
  @include line();
  @include transition();
}
circle.hawks {
  fill: $hawks !important;
}

path.thunder {
  stroke: $thunder;
  @include line();
  @include transition();
}
circle.thunder {
  fill: $thunder !important;
}

path.kings {
  stroke: $kings;
  @include line();
  @include transition();
}
circle.kings {
  fill: $kings !important;
}

path.rockets {
  stroke: $rockets;
  @include line();
  @include transition();
}
circle.rockets {
  fill: $rockets !important;
}

path.clippers {
  stroke: $clippers;
  @include line();
  @include transition();
}
circle.clippers {
  fill: $clippers !important;
}

path.lakers {
  stroke: $lakers;
  @include line();
  @include transition();
}
circle.lakers {
  fill: $lakers !important;
}

path.blazers {
  stroke: $blazers;
  @include line();
  @include transition();
}
circle.blazers {
  fill: $blazers !important;
}

path.mavericks {
  stroke: $mavericks;
  @include line();
  @include transition();
}
circle.mavericks {
  fill: $mavericks !important;
}

path.spurs {
  stroke: $spurs;
  @include line();
  @include transition();
}
circle.spurs {
  fill: $spurs !important;
}

path.grizzlies {
  stroke: $grizzlies;
  @include line();
  @include transition();
}
circle.grizzlies {
  fill: $grizzlies !important;
}

path.nuggets {
  stroke: $nuggets;
  @include line();
  @include transition();
}
circle.nuggets {
  fill: $nuggets !important;
}

path.suns {
  stroke: $suns;
  @include line();
  @include transition();
}
circle.suns {
  fill: $suns !important;
}

path.pacers {
  stroke: $pacers;
  @include line();
  @include transition();
}
circle.pacers {
  fill: $pacers !important;
}

path.pelicans {
  stroke: $pelicans;
  @include line();
  @include transition();
}
circle.pelicans {
  fill: $pelicans !important;
}

path.magic {
  stroke: $magic;
  @include line();
  @include transition();
}
circle.magic {
  fill: $magic !important;
}

path.nets {
  stroke: $nets;
  @include line();
  @include transition();
}
circle.nets {
  fill: $nets !important;
}

path.celtics {
  stroke: $celtics;
  @include line();
  @include transition();
}
circle.celtics {
  fill: $celtics !important;
}

path.jazz {
  stroke: $jazz;
  @include line();
  @include transition();
}
circle.jazz {
  fill: $jazz !important;
}

path.timberwolves {
  stroke: $timberwolves;
  @include line();
  @include transition();
}
circle.timberwolves {
  fill: $timberwolves !important;
}

path.knicks {
  stroke: $knicks;
  @include line();
  @include transition();
}
circle.knicks {
  fill: $knicks !important;
}

path.philly {
  stroke: $philly;
  @include line();
  @include transition();
}
circle.philly {
  fill: $philly !important;
}

path.pistons {
  stroke: $pistons;
  @include line();
  @include transition();
}
circle.pistons {
  fill: $pistons !important;
}

path.hornets {
  stroke: $hornets;
  @include line();
  @include transition();
}
circle.hornets {
  fill: $hornets !important;
}

.fadewest {
  path.western {
    stroke: $gray;
  }

  circle.western {
    fill: $gray !important;
  }

  text.western {
    stroke: $gray;
    fill: $gray; 
  }
}

.fadeeast {
  path.eastern {
    stroke: $gray;
  }

  circle.eastern {
    fill: $gray !important;
  }

  text.eastern {
    stroke: $gray;
    fill: $gray; 
  }
}

.highlight {
  path.team {
    stroke: $gray;
  }

  circle.team {
    fill: $gray !important;
    @include transition();
  }

}

.highlight.warriors {
  path.warriors {
    stroke: $warriors;
    stroke-width: $highlight-stroke-width;
  }
  circle.warriors {
    fill: $warriors !important;
    r: $highlight-bubble-radius;
  }
  text.warriors {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.bulls {
  path.bulls {
    stroke: $bulls;
    stroke-width: $highlight-stroke-width;
  }
  circle.bulls {
    fill: $bulls !important;
    r: $highlight-bubble-radius;
  }
  text.bulls {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.raptors {
  path.raptors {
    stroke: $raptors;
    stroke-width: $highlight-stroke-width;
  }
  circle.raptors {
    fill: $raptors !important;
    r: $highlight-bubble-radius;
  }
  text.raptors {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.cavaliers {
  path.cavaliers {
    stroke: $cavaliers;
    stroke-width: $highlight-stroke-width;
  }
  circle.cavaliers {
    fill: $cavaliers !important;
    r: $highlight-bubble-radius;
  }
  text.cavaliers {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.wizards {
  path.wizards {
    stroke: $wizards;
    stroke-width: $highlight-stroke-width;
  }
  circle.wizards {
    fill: $wizards !important;
    r: $highlight-bubble-radius;
  }
  text.wizards {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.heat {
  path.heat {
    stroke: $heat;
    stroke-width: $highlight-stroke-width;
  }
  circle.heat {
    fill: $heat !important;
    r: $highlight-bubble-radius;
  }
  text.heat {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.bucks {
  path.bucks {
    stroke: $bucks;
    stroke-width: $highlight-stroke-width;
  }
  circle.bucks {
    fill: $bucks !important;
    r: $highlight-bubble-radius;
  }
  text.bucks {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.hawks {
  path.hawks {
    stroke: $hawks;
    stroke-width: $highlight-stroke-width;
  }
  circle.hawks {
    fill: $hawks !important;
    r: $highlight-bubble-radius;
  }
  text.hawks {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.thunder {
  path.thunder {
    stroke: $thunder;
    stroke-width: $highlight-stroke-width;
  }
  circle.thunder {
    fill: $thunder !important;
    r: $highlight-bubble-radius;
  }
  text.thunder {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.kings {
  path.kings {
    stroke: $kings;
    stroke-width: $highlight-stroke-width;
  }
  circle.kings {
    fill: $kings !important;
    r: $highlight-bubble-radius;
  }
  text.kings {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.rockets {
  path.rockets {
    stroke: $rockets;
    stroke-width: $highlight-stroke-width;
  }
  circle.rockets {
    fill: $rockets !important;
    r: $highlight-bubble-radius;
  }
  text.rockets {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.clippers {
  path.clippers {
    stroke: $clippers;
    stroke-width: $highlight-stroke-width;
  }
  circle.clippers {
    fill: $clippers !important;
    r: $highlight-bubble-radius;
  }
  text.clippers {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.lakers {
  path.lakers {
    stroke: $lakers;
    stroke-width: $highlight-stroke-width;
  }
  circle.lakers {
    fill: $lakers !important;
    r: $highlight-bubble-radius;
  }
  text.lakers {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.blazers {
  path.blazers {
    stroke: $blazers;
    stroke-width: $highlight-stroke-width;
  }
  circle.blazers {
    fill: $blazers !important;
    r: $highlight-bubble-radius;
  }
  text.blazers {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.mavericks {
  path.mavericks {
    stroke: $mavericks;
    stroke-width: $highlight-stroke-width;
  }
  circle.mavericks {
    fill: $mavericks !important;
    r: $highlight-bubble-radius;
  }
  text.mavericks {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.spurs {
  path.spurs {
    stroke: $spurs;
    stroke-width: $highlight-stroke-width;
  }
  circle.spurs {
    fill: $spurs !important;
    r: $highlight-bubble-radius;
  }
  text.spurs {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.grizzlies {
  path.grizzlies {
    stroke: $grizzlies;
    stroke-width: $highlight-stroke-width;
  }
  circle.grizzlies {
    fill: $grizzlies !important;
    r: $highlight-bubble-radius;
  }
  text.grizzlies {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.nuggets {
  path.nuggets {
    stroke: $nuggets;
    stroke-width: $highlight-stroke-width;
  }
  circle.nuggets {
    fill: $nuggets !important;
    r: $highlight-bubble-radius;
  }
  text.nuggets {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.pacers {
  path.pacers {
    stroke: $pacers;
    stroke-width: $highlight-stroke-width;
  }
  circle.pacers {
    fill: $pacers !important;
    r: $highlight-bubble-radius;
  }
  text.pacers {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.suns {
  path.suns {
    stroke: $suns;
    stroke-width: $highlight-stroke-width;
  }
  circle.suns {
    fill: $suns !important;
    r: $highlight-bubble-radius;
  }
  text.suns {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.pelicans {
  path.pelicans {
    stroke: $pelicans;
    stroke-width: $highlight-stroke-width;
  }
  circle.pelicans {
    fill: $pelicans !important;
    r: $highlight-bubble-radius;
  }
  text.pelicans {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.magic {
  path.magic {
    stroke: $magic;
    stroke-width: $highlight-stroke-width;
  }
  circle.magic {
    fill: $magic !important;
    r: $highlight-bubble-radius;
  }
  text.magic {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.nets {
  path.nets {
    stroke: $nets;
    stroke-width: $highlight-stroke-width;
  }
  circle.nets {
    fill: $nets !important;
    r: $highlight-bubble-radius;
  }
  text.nets {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.celtics {
  path.celtics {
    stroke: $celtics;
    stroke-width: $highlight-stroke-width;
  }
  circle.celtics {
    fill: $celtics !important;
    r: $highlight-bubble-radius;
  }
  text.celtics {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.jazz {
  path.jazz {
    stroke: $jazz;
    stroke-width: $highlight-stroke-width;
  }
  circle.jazz {
    fill: $jazz !important;
    r: $highlight-bubble-radius;
  }
  text.jazz {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.timberwolves {
  path.timberwolves {
    stroke: $timberwolves;
    stroke-width: $highlight-stroke-width;
  }
  circle.timberwolves {
    fill: $timberwolves !important;
    r: $highlight-bubble-radius;
  }
  text.timberwolves {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.knicks {
  path.knicks {
    stroke: $knicks;
    stroke-width: $highlight-stroke-width;
  }
  circle.knicks {
    fill: $knicks !important;
    r: $highlight-bubble-radius;
  }
  text.knicks {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.philly {
  path.philly {
    stroke: $philly;
    stroke-width: $highlight-stroke-width;
  }
  circle.philly {
    fill: $philly !important;
    r: $highlight-bubble-radius;
  }
  text.philly {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.pistons {
  path.pistons {
    stroke: $pistons;
    stroke-width: $highlight-stroke-width;
  }
  circle.pistons {
    fill: $pistons !important;
    r: $highlight-bubble-radius;
  }
  text.pistons {
    stroke: $black;
    fill: $black; 
  }
}

.highlight.hornets {
  path.hornets {
    stroke: $hornets;
    stroke-width: $highlight-stroke-width;
  }
  circle.hornets {
    fill: $hornets !important;
    r: $highlight-bubble-radius;
  }
  text.hornets {
    stroke: $black;
    fill: $black; 
  }
}

