{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/post-detail.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/smash_style.css">
<script type="text/javascript" src="/static/lib/d3/d3.min.js"></script>
<script type="text/javascript" src="/static/nba-legacy/nba-rankings-chart.js"></script>
{% endblock %}

{% block content %}
<div class="post-detail-title">
  2014-2015 Weekly NBA Power Rankings
</div>
<div class="svg_target_1 nba-legacy-chart"></div>
<div class="post-detail-content">
  <p>Behold! The week by week power rankings of the 2014-2015 NBA season!</p>
  <p>This chart was put together using <a target="_blank" href="http://espn.go.com/nba/powerrankings">ESPN's weekly power rankings</a>.</p>
</div>

<script> 
build_smash_power_rankings(".svg_target_1", { 
  plot: { width: 900, height: 550}, 
  margin: { top: 30, left: 220, right: 40, bottom: 50 } 
});
</script>
{% endblock %}
