{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/projects.css" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="project">

  <div class="project-image">
    <a href="/projects/2014-2015-nba-power-rankings">
      <img src="/static/images/2015-nba-chart-screenshot.jpg" alt="2014-2015 NBA Ranking"/>
    </a>
  </div>

  <div class="project-text">
    <div class='prjoect-title'><a href="/projects/2014-2015-nba-power-rankings">2014-2015 NBA Power Rankings</a></div> 
    <div class="project-description">
      <p>An interactive chart of the 2014-2015 NBA weekly power rankings. </p>
    </div>
  </div>

</div>

{% endblock %}
