{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/about.css" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="about">
  <div class="about-pic">
    <img src="/static/images/presidential-cropped.jpg" alt="Hey look! Mountains!"/>
  </div>

  <div class="about-summary">
    <p>Hi, my name is Nathan Myers, and I like to make fun, interactive stuff.</p>
    <p>I have a Masters in Computer Sceince and 6 years of experience making every part of a website, from administering web servers to serving up content to making that content look and feel awesome. Now I'm taking that experience and using it to make killer data visualizations.</p>
    <p>When my face isn't pressed against my computer screen, you can generally find me somewhere in the Midwest knee deep is something nerdy (Magic: The Gathering, anyone?), or possibly outside hanging out in the woods.</p>
    
  </div>
</div>


{% endblock %}
