<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nathan Myers</title>

  <link rel="stylesheet" href="/static/css/base.css" type="text/css" media="all" />
  {% block head %}
  {% endblock %}

  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16" />

</head>

<body onload="">
  <div class="header-container">
    <div class="header">
      <div class="header-title">Nathan Myers</div>
      <div class="header-slogan">Design &amp; Development</div>
    </div>
  </div>

  <div class="main-container">
      <div class="nav">
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/projects/'>Projects</a></li>
          <li><a href='/about'>About</a></li>
        </ul>
      </div>

      <div class="main">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>

  </div>

  <div class="footer-container">
    <div class="footer">
      <a href='/contact'>
        <img src="/static/images/cropped-profile.jpg" class="profile-pic img-circle" alt="It's a-me, Nathan"/>
      </a>
      <div class="footer-content">
        <p>Hey there!</p>
        <p></p>
      </div>

    </div>
  </div>

</body>
</html>
