<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nathan Myers</title>

  <link rel="stylesheet" href="/static/css/base.css?ver={{version}}" type="text/css" media="all" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="/static/js/base.js?ver={{version}}"></script>

  {% block head %}
  {% endblock %}

  <link rel="icon" type="image/png" href="/static/favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/favicon/favicon-16x16.png" sizes="16x16" />

</head>

<body onload="">
  <div class="header">
    <div class="top-spacer">

    </div>

    <div class="header-perm ">
      <div class="page-centered">
        <div class="header-title">Nathan Myers</div>

        <div class="nav">
          <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/projects/'>Projects</a></li>
            <li><a href='/about'>About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header-slogan">
      <div class="page-centered">
        <div class="header-slogan">Design &amp; Development</div>
      </div>
    </div>
  </div>
  

  <div class="main-container">

    <div class="main">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </div>

  <div class="footer-container">
    <div class="footer">
      <div class="profile-pic">
        <img src="/static/images/cropped-profile.jpg" alt="It's a-me, Nathan"/>
      </div>
      <div class="footer-content">
        <p>Hey there!</p>
        <p>If you'd like to get ahold of me, you can always reach me at <a href="mailto:nathanemyers@gmail.com?subject=Hello!">nathanemyers@gmail.com</a>.</p>
      </div>

    </div>
  </div>

</body>
</html>
