{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/contact.css" type="text/css" media="all" />
{% endblock %}

{% block content %}
<div class="col-md-4">
    <img src="/static/images/cropped-profile.jpg" class="profile-pic img-circle" alt="It's a-me, Nathan"/>
</div>
<div class="col-md-8">
  <span class="contact-content">
  Want to work together? Drop me a line at <a href="mailto:nathanemyers@gmail.com?subject=Let's make something great!">nathanemyers@gmail.com</a>
  </span>
</div>


{% endblock %}
