{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css?ver={{version}}" type="text/css" media="all" />
{% endblock %}

{% block content %}

{% for post in latest_post_list %}
<div class="post">
  {% if post.image %}
  <div class="post-image">
    <img src="{{ post.image }}" alt="{{ post.caption }}"/>
  </div>
  {% endif %}
  <div class='post-title'><a href="/">{{ post.title }}</a></div>
  <!--<span class='post-date'>{{ post.start_publication }}</span>-->
  <span class='post-lead'>{{ post.lead }}</span>
  <div class="post-content">
    {{ post.html_content|safe }}
  </div>
</div>
{% endfor %}

{% endblock %}
